.formasdeaplicacao-itens {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  min-height: 60px;
  margin: 10px 30px !important;
  padding: 0 10px !important;
  display: flex !important;
}

.formasdeaplicacao-itens__img {
  padding: 10px 0 !important;
}
.formasdeaplicacao-itens__img img {
  max-width: 50px;
}

.formasdeaplicacao-itens__lista {
  text-align: left;
}

.formasdeaplicacao-itens__like {
  height: max-content;
}
