.components-contadormet-containerlist {
  height: 500px;
  background-color: #b9d0f0;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.components-contadormet-containerlist h4 {
  margin: 0;
  font-weight: 200;
  max-width: 350px;
}

.components-contadormet-containerlist__col {
  align-items: center;
  display: flex;
}
