.ferramentasdetalhadastexto {
  min-height: 500px;
  background-color: #CCD9FF;
}

.ferramentasdetalhadastexto__voltar{
  margin-bottom: 10px !important;
}

.ferramentasdetalhadastexto__conteudo li {
  font-size: 18px;
  line-height: 1.62;
  font-weight: 300;
}

.ferramentasdetalhadastexto__conteudo ul li {
  list-style-type: disc;
}

.ferramentasdetalhadastexto__conteudo {
  padding: 20px 15% !important;
}

.ferramentasdetalhadastexto__conteudo h2{
  font-size: 3.0rem;
  margin: 0;
}

.ferramentasdetalhadastexto__conteudo p{
  line-height: 1.62;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 20px 0;
}

.ferramentasdetalhadastexto__publicacao {
  padding: 30px 0;
  width: 100%;
  text-align: right;
  font-weight: 250;
}
