/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 601px) and (max-width: 959px) {
  h2 {
    font-size: 3em !important;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 601px) {
  h2 {
    font-size: 2.5em !important;
    padding: 0 !important;
  }
  .components-contadormet-containerlist__col{
    height: auto;
  }
}
