/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  h2 {
    font-size: 3em !important;
  }
  .components-contadormet-card h5{
    font-size: 25px;
  }
  .metodologiadetalhadastexto__conteudo iframe{
    height: 350px;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 2.5em !important;
    padding: 0 !important;
  }
  .components-contadormet-containerlist {
    height: auto + 20px;
  }
  .metodologiadetalhadastexto__conteudo {
    padding: 20px 10% !important;
  }
  .metodologiadetalhadastexto__conteudo p{
    font-size: 16px !important;
  }
  .ferramentasdetalhadastexto__conteudo {
    padding: 20px 10% !important;
  }
  .ferramentasdetalhadastexto__conteudo p{
    font-size: 16px !important;
  }
  .metodologiadetalhadastexto__conteudo iframe{
    height: 250px;
  }
}

@media only screen and (max-width: 601px) {
  .components-contadormet-containerlist__col {
    display: block;
    text-align: center;
  }
  .formasdeaplicacao-itens{
    display: block !important;
  }
  .formasdeaplicacao-itens__lista {
    text-align: center;
  }
}
