.about-card{
  height: 150px;
}

.about-card__details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 15px 0 !important;
}

.about-card__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15;
  color: rgb(43, 43, 43);
}

.about-card__name {
  font-weight: 600;
  font-size: 16px;
}

.about-card__email {
  font-size: 12;
  color: rgb(88, 88, 88);
  text-transform: lowercase;
}

.about-card__img {
  margin-top: 15px;
  max-width: 150px;
  max-height: 150px;
}

.about-card__img img {
  border-radius: 50%;
  width: 100%;
}
