.components-header {
  background-color: #b9d0f0;
  height: 400px;
  display: flex;
  align-items: center;
  text-align: center;
}
.components-header__container h2 {
  font-size: 4em;
  padding: 10px 0;
}

.components-header__container p {
  font-weight: 400;
  font-size: 1.2em;
  padding: 10px 0;
}

.components-header__hr {
  width: 15%;
}

