.components-header {
  background-color: #b9d0f0;
  height: 400px;
  display: flex;
  align-items: center;
  text-align: center;
}
.components-header__container h2 {
  font-size: 4em;
  padding: 10px 0;
}

.components-header__container p {
  font-weight: 400;
  font-size: 1.2em;
  padding: 10px 0;
}

.components-header__hr {
  width: 15%;
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .components-header__container h2 {
    font-size: 3em;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .components-header__container h2 {
    font-size: 2.5em;
    padding: 0;
  }
}
