.formasdeaplicacao-colecoes {
  background-color: #E4E8F2;
}
.formasdeaplicacao-colecoes__item {
  padding: 20px 0 !important;
}
.formas-aplicacao-colecoes__formater-cards {
  align-items: center !important;
  justify-items: center !important;
}
