.component-ferramentas-card {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 370px !important;
  display: flex;
}

.component-ferramentas-card__content {
  display: flex !important;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;
  margin: 0 !important;
  justify-content: space-between;
  flex-direction: column;
}

.component-ferramentas-card__text {
  text-align: left;
  font-weight: 300;
  text-align: justify !important;
}

.component-ferramentas-card__button{
  background-color: #162F52;
  display: flex;
  align-self: center;
}

.component-ferramentas-card__button:hover{
  background-color: #4437ab;
}

.component-ferramentas-card__imagem {
  height: 60px !important;
}

.component-ferramentas-card__imagem img{
  max-width: 100%;
  max-height: 100%;
}

.component-ferramentas-card__titulo{
  font-size: 20px;
  font-weight: 500;
}
