.conhecaasmet-card {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.conhecaasmet-card div {
  border-radius: 50%;
  margin-top: 15px;
  width: 200px;
  height: 200px;
  background-color: #fff;
}

.conhecaasmet-card a {
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #162f52;
}

.conhecaasmet-card a:hover {
  background-color: #4437ab;
}
