.conhecaasmet-card {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.conhecaasmet-card__imagem {
  margin-top: 15px;
  max-width: 200px;
  max-height: 200px;
}

.conhecaasmet-card__imagem img {
  border-radius: 50%;
  width: 100%;
}

.conhecaasmet-card a {
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #162f52;
}

.conhecaasmet-card a:hover {
  background-color: #4437ab;
}
